@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
}
html{
    font-size: 25px;
}
.navbar-nav{
    /* display: flex; */
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    padding-left: 70%;
    color: black;
    
}
/* .body{
    background-image: url("./assets/pizzapie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#intro{
    text-align: center;


}
#p1{
    text-align: center;
} */
#hero{
    background-image: url("./assets/image3.jpeg");
    background-position: top-center;
    position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
     
  }
  
  #hero h1{
      display: block;
      width: fit-content;
      font-size: 4rem;
      position: relative;
      color: black;
      text-align: center;
      
  }