@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
}
html{
    font-size: 25px;
}
.navbar-nav{
    /* display: flex; */
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    padding-left: 50%;
    color: white;
    
}
/* styling home section */
.home{
    display: flex;
    background: url("https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center;
    height: 80vh;
    background-size: cover;
    color: black;
    min-height: 500px;
    font-family: Verdana, sans-serif;
    padding-right: 70%;
    /* padding-top: 10%; */
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
.home content{
    /* margin: auto 0 auto 70px; */
    
    
}
#text-1{
    font-size: 30px;
    font-weight: bold;
    padding-right: 70%;
    
}
#text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -5px;
    font-weight: bold;
}
#text-3{
    font-size: 40px;
    margin: 5px 0;
    font-weight: bold;
}
#text-3 span{
    color: red;
    font-weight: bold;
}
.about{
    background-image: url("./assets/image3.jpeg");
    height: 60vh;
    margin-top: 70px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
}
.menu{
    margin-top: 70px;
    /* background-color: yellow; */
    /* background-image: url("https://images.unsplash.com/photo-1555505019-8c3f1c4aba5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbHBhcGVyJTIwd29vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"); */
}
.orders{
    background-color: wheat;
    margin-top: 70px;
    align-items: center;
}

#checkout{
    margin-bottom: 50px;
    margin-top: 40px;
}
/* .socials{
    display: flex;
    height: 3vh;
    width: 2vw;
    color: red;
    text-align: space-between;
    justify-content: center;
} */
#name{
    margin-left: 20%;
    
    
}
#email{
    margin-left: 20%;
    
}
#mobile-number{
    margin-left: 20%;
    
}
#location{
    margin-left: 20%;
    
}
.form-control:input-placeholder {
    color: white;
  }
.deliver{
    margin-top: 40px;
    margin-bottom: 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: red;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}
.delivernot{
    margin-top: 40px;
    margin-bottom: 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: red;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;

}
.contact{
    margin-top: 80px;
  }
  .contact img{
    margin: 20px;
  }
  
  .contact{
    /* height: 80vh; */
    background-image: url("./assets/image3.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    margin-top: 70px;
  }

  #on-click{
      text-align: center;
      margin-left: 40%;
  }
#name,
#email,
#text,
#on-click {
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
.contacts {
    padding-top: 15px;
    padding-bottom: 15px;
}