@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
}
html{
    font-size: 25px;
}
.navbar-nav{
    /* display: flex; */
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 400;
    padding-left: 70%;
    color: white;
    
}
/* styling home section */
.home{
    display: flex;
    background: url("https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center;
    height: 100vh;
    background-size: cover;
    color: black;
    min-height: 500px;
    font-family: Verdana, sans-serif;
    /* padding-top: 10%; */
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.home content{
    margin: auto 0 auto 70px;
}
#text-1{
    font-size: 30px;
}
#text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -5px;
}
#text-3{
    font-size: 40px;
    margin: 5px 0;
}
#text-3 span{
    color: red;
}

/* #menus{
      padding-top: 70px;
  }
  
  
.menu{
    background-color: wheat;
    background-image: url("../images/wooden\ background.jpeg");
    padding: 0;
    margin-top: -20px;
} */
